.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::before {
  position: absolute;
  content: '';
  left: var(--ripple-left);
  top: var(--ripple-top);
  width: var(--ripple-width);
  height: var(--ripple-height);
  border-radius: 100%;
  transform: scale(0);
  opacity: 1;
  animation: 600ms linear;
  animation-name: var(--ripple-animation);
  background-color: rgba(255,255, 255, 0.35);
}

/* animation */

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}