input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
  -webkit-text-fill-color: #828282;
  -webkit-box-shadow: 0 0 0px 1000px #1D1D1D inset;
  outline: none;
  padding: 0;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
    word-wrap: break-word;
    min-width: 0.9375%;
  }
  
  .label-text {
    font-size: 1.2rem;
    position: absolute;
    color: #828282;
    transition: all .2s ease-in-out;
    pointer-events: none;
  }
  
  .field-input {
    min-width: 120px;
    width: 300px;
    position: relative;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    outline: none;
    box-shadow: none;
    border: none;
    padding-bottom: 4px;
    border-bottom: 2px gray solid;
  }
  
  .field-bar {
    width: 300px;
    transform: scalex(0) translatey(-2px);
    transition: all .2s ease-in-out;
    height: 2px;
    background-color: #fff;
  }
  
  .field-notice {
    font-size: .8rem;
    margin-top: 8px;
    margin-bottom: 8px;
    min-width: 120px;
    max-width: 300px;
    height: 2px;
    color: #828282;
    transition: all .2s ease-in-out;
  }
  
  .field-input:invalid ~ .field-bar {
    background-color: red;
  }
  
  .field-input:invalid:focus ~ .field-notice {
    color: red;
  }
  
  .field-input:focus ~ .label-text,
  .field-input:valid ~ .label-text {
    transform: translatey(-1.2rem);
    font-size: .9rem;
  }
  
  .field-input:focus ~ .field-bar {
    transform: scalex(1) translatey(-2px);
  }